# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/public_html/core
/public_html/libraries
/public_html/modules/contrib
/public_html/profiles/contrib
/public_html/themes/contrib
/public_html/sites/default/files

# Ignore Composer-managed dependencies.
vendor/
